<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <title>{{titolo}}</title>
  </head>
  <body>

   {{> header }}

    {{> image}}
    
   <div class="home">
    <h1>Ciao sono {{nome}}</h1>
    <p>Il mio animale preferito é il <span><b>{{pet}}</b></span></p>
    <p>La mia stagione preferita é l': <span><b>{{season}}</b></span></p>
    <p>Il mio colore preferito é il: <span><b>{{color}}</b></span></p>
    </div>
   
    
    {{> footer }}
  </body>
</html>